matplotlib==3.6.3
numpy==1.24.1
opencv-python==4.7.0.68
pandas==1.5.3
pyclustering==0.10.1.2
scikit-learn==1.2.1
openpyxl == 3.1.0
pytest
japanize_matplotlib
omegaconf == 2.3.0
styleframe == 4.1
scipy
seaborn
pdfplumber
pdf2image
Pillow
PyPDF2 
pytesseract
tesseract
pycryptodomex
boto3 == 1.26.105